body{
    background-color: aqua;
}

h1{
    color: indigo;
}

h5{
    color: green;
}

p{
    color: darkmagenta;
}

.first{
    width: 500px;
    margin: auto;
    border: 5px solid yellowgreen;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 30px;
    text-align: center;
}

.first p{
    color: dimgray;
    text-align: justify;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

ul{
    list-style-type: none;
    overflow: hidden;
    background-color: #333;
}

li{
    float: left;
}

li a{
    display: flex;
    color: rgb(194, 185, 185);
    /* text-align: center; */
    padding: 20px;
    text-decoration: none;
    justify-content: center;
}